{
  auto_https disable_certs
  http_port 8080
  https_port 8443
}

:8080 {
  @api-path path /api/*
  @gui-path not path /api/*
  reverse_proxy @api-path app_backend:3000
  reverse_proxy @gui-path app_frontend:8080
}